.titulo{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	text-shadow: 4px 4px 4px black;
	color: white;

}body{
	background-color: gray;
}
.sobre{
	font-family: 'Ubuntu', sans-serif;
}
.disciplina{
	font-family: 'Ubuntu', sans-serif;
	margin-left: 0px;
	margin-top: 50px;
}
.mecanica{
	font-family: 'Ubuntu', sans-serif;
}